


.card-container.flex-row .card{
  /* cartas de 1 a 1 */
  /*   align-items: flex-start;
   display:flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 300px; */

  margin: 1rem ;
  border-radius: 3px;
  box-shadow: 0.2px 4px 5px black;
  position: relative;
  overflow: hidden;
  width: 30%;
  background-color: black;
 


  
  }
  
  .card-container.flex-column .card{
     /*align-items: flex-start;
   display:flex; 
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    width: 300px; */
  margin: 1rem  ;
  border-radius: 3px;
  box-shadow: 0.2px 4px 5px black;
  position: relative;
  overflow: hidden;
  width: 300px;
  background-color: black;
  align-items: center;
  
  


  }

  .card-container {
    color: white;
    width: 100% !important;
   
  }

  .card-container.flex-column h3{
  text-align: center;
  }

  .card-container.flex-row h3{
    text-align: center;
    }

 .boton {
width: 10%;
height: 1rem;
margin-top: 0.1rem;
}

.eliminate {

height: 0.5rem;
align-items: center;
padding-bottom: 1rem;
}