body{
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #333;
  line-height: 1em;
  margin: 0;

}
.header{
 background-color: rgb(73, 73, 73);
 padding: 0.1rem 0;
 display: flex;
 justify-content: center;
 align-items: center;
 
}


.logo {
  position: relative;
  font-size: 1.5em;
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-weight: 100;
  margin: 0;
  width: 100apx;

}
.buscador{
  background-color: transparent;
  border: 2px solid ;
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  color: rgb(121, 121, 121);
  font-family: inherit;
 
}
.buscador:focus{
  outline: 0;
  
  
}
.buscador input::placeholder{
  color:rgb(0, 0, 0);

}
.navegacion{
  position: relative;
  margin: 0;
  justify-content: flex-end;
  width: 10px;
  height: 80px;
}
header button{
background-color: transparent;
height: 2.1rem;
color: #fff;
border-radius: 0.3rem;
border-color: rgb(121, 121, 121);
}

.card-container{
display: flex;
flex-wrap: wrap;
justify-content: center;
}

 .hola{
  width: 300px;
  margin: 1rem;
  border-radius: 3px;
  box-shadow: 0.2px 4px 5px black;
  position: relative;
  overflow: hidden;

} 

img{
  width: 100%;
}
.descripcion{
  font-size: 1rem;
  
}

.footer{
  background-color: #333;
  padding: 1rem 0;
  display: flex;

}
.footer ul{
  color: rgb(134, 63, 63);
}

